<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="templates/css/bootstrap.min.css">

    <title>Hello, world!</title>
    <style>

a {
  color: white;
  text-decoration: none
}
   .unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
  </style>
  </head>
  <body>
<script>
  function update(event) {
  var white =  event.target.parentElement.parentElement;
  var niggers = white.children;
  for (var i = 1; i < niggers.length; i++) {
    if(niggers[i].getAttribute('name') == 'delete'){
      break;
    }
    niggers[i].innerHTML = '<input class="form-control" form="formid'+niggers[0].innerHTML+'" value="' + niggers[i].innerHTML +'"name="'+document.getElementById("ids").children[i].innerHTML+'"id="'+ document.getElementById("ids").children[i].innerHTML+'">';
  }
  niggers[niggers.length-1].innerHTML = '<button type="submit" form="formid'+niggers[0].innerHTML+'" class="btn btn-primary">Update</button>';
  niggers[0].innerHTML = '<input class="form-control" form="formid'+niggers[0].innerHTML+'" value="' + niggers[0].innerHTML +'" name="'+document.getElementById("ids").children[0].innerHTML+'" readonly>';
}
</script>



    <div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>
  
<div class="container">
<a href="Games"><button type="button" class="btn btn-dark">Games</button></a>
<a href="Publisher"><button type="button" class="btn btn-dark">Publisher</button></a>
<a href="Store"><button type="button" class="btn btn-dark">Store</button></a>
</div>
<br/>
<table class="table">
  <thead>
    <tr id="ids">
      <th scope="col">Name</th>
      <th scope="col">Income</th>
      <th scope="col">Amount</th>
      <th scope="col">Parent</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for d in data %}
    <form action="{{table}}/Update" method="post" id='formid{{d.name}}'>
    <tr name='{{d.name}}'>
      <th scope="row">{{ d.name }}</th>
      <td>{{ d.income }}</td>
      <td>{{ d.amount }}</td>
      <td>{{ d.parent }}</td>
      <td name="delete" style="background: black; color: white; cursor: pointer;"; onmouseover="this.style.backgroundColor='red'; this.style.Color='black';"; onmouseout="this.style.backgroundColor='black';this.style.Color='white';"><a href='{{table}}/delete/{{d.name}}'><div class="unselectable">Delete</div></a></td>
      <td style="background: black; color: white; cursor: pointer;"; onmouseover="this.style.backgroundColor='red'; this.style.Color='black';"; onmouseout="this.style.backgroundColor='black';this.style.Color='white';"><div class="unselectable" onclick="update(event)">Update</div></td>

    </tr>
    </form>
    {% endfor %}
    <form action="" method="post">
    <tr>
      <th><input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter name" name ="name"></th>
      <td><input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter income" name ="income"></td>
      <td><input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter amount" name="amount"></td>
      <td><input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter parent" name="parent"></td>
      <td><button type="submit" class="btn btn-primary">Add</button></td>
    </tr>
    </form>
  </tbody>
</table>
</form>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="templates/js/jquery-3.6.0.min.js"></script>
    <script src="templates/js/bootstrap.min.js"></script>
  </body>
</html>